$dark: #000;
$light: #fff;
$blue: #0088CC;
$grey1: #efefef;
$grey2: #CCCCCC;
$grey3: #848484;
$grey4: #e9ecef;
$large-font: 3em;
$large-font2: 2em;
$mid-font: 1.5em;
$mid-font2: 1.25em;
$small-font: 1em;
